* {
    margin: 0 5px;
    padding: 0;
    box-sizing: border-box;
   }
   
   body {
     width: 80%;
     margin: 0 auto;
     background-color: rgb(236, 241, 243);
   }
   
   .all__news {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 20px;
     margin: 50px auto;
   }
   
   .heading {
     margin-top: 30px;
   } 
   
   .news {
     max-width: 600px;
     height: 700px;
     padding: 30px;
     border: 1px solid lightgray;
     border-radius: 5px;
     margin: 0 0px;
   }
   
   .news__title {
     padding-bottom: 10px;
     border-bottom: 1px solid lightgray;
   }
   
   .news__desc {
     padding-top: 10px;
     line-height: 25px;
     font-size: 14px;
     padding-bottom: 10px;
   }
   
   .image__desc {
     padding-top: 10px;
     height: 60%;
     width: 100%;
     padding-bottom: 10px;
   }
   
   .news__author {
     margin-top: 10px;
     margin-right: 5px;
     color: purple;
   }
   
   .news__published {
     margin-top: 10px;
   }
   
   .news__published,
   .news__source {
     margin-top: 10px;
     display: inline-block;
     color: rgb(122, 122, 122);
   }
   